<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>addOne</key>
            <dict>
                <key>frame</key>
                <string>{{156,301},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>close</key>
            <dict>
                <key>frame</key>
                <string>{{156,269},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>flash_1</key>
            <dict>
                <key>frame</key>
                <string>{{120,463},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{2,2}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>flash_2</key>
            <dict>
                <key>frame</key>
                <string>{{112,463},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{6,6}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>flash_3</key>
            <dict>
                <key>frame</key>
                <string>{{112,451},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>goldButPanel</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,198}}</string>
                <key>sourceSize</key>
                <string>{232,198}</string>
            </dict>
            <key>goldBuyBtn</key>
            <dict>
                <key>frame</key>
                <string>{{112,236},{87,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,31}}</string>
                <key>sourceSize</key>
                <string>{87,31}</string>
            </dict>
            <key>goldToShop</key>
            <dict>
                <key>frame</key>
                <string>{{156,375},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>gold_1</key>
            <dict>
                <key>frame</key>
                <string>{{124,451},{8,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{8,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gold_2</key>
            <dict>
                <key>frame</key>
                <string>{{156,353},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gold_3</key>
            <dict>
                <key>frame</key>
                <string>{{156,325},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gold_4</key>
            <dict>
                <key>frame</key>
                <string>{{156,353},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>savePanel</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{234,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,108}}</string>
                <key>sourceSize</key>
                <string>{234,108}</string>
            </dict>
            <key>saveTitle</key>
            <dict>
                <key>frame</key>
                <string>{{112,269},{180,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,42}}</string>
                <key>sourceSize</key>
                <string>{180,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_source.pvr.ccz</string>
            <key>size</key>
            <string>{202,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea9f711c76fee107832c2ecd77763ce9:1/1$</string>
            <key>textureFileName</key>
            <string>game_source.pvr.ccz</string>
        </dict>
    </dict>
</plist>
