<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>addOne</key>
            <dict>
                <key>frame</key>
                <string>{{940,378},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>bg_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{288,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,514}}</string>
                <key>sourceSize</key>
                <string>{288,514}</string>
            </dict>
            <key>bg_2</key>
            <dict>
                <key>frame</key>
                <string>{{288,0},{288,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,514}}</string>
                <key>sourceSize</key>
                <string>{288,514}</string>
            </dict>
            <key>bird1_1</key>
            <dict>
                <key>frame</key>
                <string>{{564,534},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>bird1_2</key>
            <dict>
                <key>frame</key>
                <string>{{602,534},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>bird1_3</key>
            <dict>
                <key>frame</key>
                <string>{{640,534},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>bird2_1</key>
            <dict>
                <key>frame</key>
                <string>{{692,432},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>bird2_2</key>
            <dict>
                <key>frame</key>
                <string>{{692,466},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>bird2_3</key>
            <dict>
                <key>frame</key>
                <string>{{774,486},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>bird3_1</key>
            <dict>
                <key>frame</key>
                <string>{{692,500},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>bird3_2</key>
            <dict>
                <key>frame</key>
                <string>{{678,534},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>bird3_3</key>
            <dict>
                <key>frame</key>
                <string>{{716,534},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>btn_play</key>
            <dict>
                <key>frame</key>
                <string>{{576,432},{116,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,70}}</string>
                <key>sourceSize</key>
                <string>{116,70}</string>
            </dict>
            <key>btn_ranking</key>
            <dict>
                <key>frame</key>
                <string>{{732,346},{116,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,70}}</string>
                <key>sourceSize</key>
                <string>{116,70}</string>
            </dict>
            <key>btn_rate</key>
            <dict>
                <key>frame</key>
                <string>{{848,346},{74,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,48}}</string>
                <key>sourceSize</key>
                <string>{74,48}</string>
            </dict>
            <key>btn_small_menu</key>
            <dict>
                <key>frame</key>
                <string>{{962,114},{98,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,32}}</string>
                <key>sourceSize</key>
                <string>{98,32}</string>
            </dict>
            <key>btn_small_ok</key>
            <dict>
                <key>frame</key>
                <string>{{962,212},{98,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,32}}</string>
                <key>sourceSize</key>
                <string>{98,32}</string>
            </dict>
            <key>btn_small_pause</key>
            <dict>
                <key>frame</key>
                <string>{{846,536},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btn_small_play</key>
            <dict>
                <key>frame</key>
                <string>{{878,536},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btn_small_share</key>
            <dict>
                <key>frame</key>
                <string>{{576,502},{98,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,32}}</string>
                <key>sourceSize</key>
                <string>{98,32}</string>
            </dict>
            <key>btn_wx</key>
            <dict>
                <key>frame</key>
                <string>{{732,416},{116,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,70}}</string>
                <key>sourceSize</key>
                <string>{116,70}</string>
            </dict>
            <key>flash_1</key>
            <dict>
                <key>frame</key>
                <string>{{846,534},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{2,2}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>flash_2</key>
            <dict>
                <key>frame</key>
                <string>{{804,556},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{6,6}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>flash_3</key>
            <dict>
                <key>frame</key>
                <string>{{674,524},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>gold_1</key>
            <dict>
                <key>frame</key>
                <string>{{856,336},{8,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{8,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gold_2</key>
            <dict>
                <key>frame</key>
                <string>{{994,166},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gold_3</key>
            <dict>
                <key>frame</key>
                <string>{{994,114},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>gold_4</key>
            <dict>
                <key>frame</key>
                <string>{{994,166},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>land</key>
            <dict>
                <key>frame</key>
                <string>{{576,0},{336,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,112}}</string>
                <key>sourceSize</key>
                <string>{336,112}</string>
            </dict>
            <key>medal_1</key>
            <dict>
                <key>frame</key>
                <string>{{848,420},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medal_2</key>
            <dict>
                <key>frame</key>
                <string>{{896,378},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medal_3</key>
            <dict>
                <key>frame</key>
                <string>{{892,422},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medal_4</key>
            <dict>
                <key>frame</key>
                <string>{{962,310},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medal_5</key>
            <dict>
                <key>frame</key>
                <string>{{848,464},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medal_6</key>
            <dict>
                <key>frame</key>
                <string>{{892,466},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medal_7</key>
            <dict>
                <key>frame</key>
                <string>{{962,354},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medal_8</key>
            <dict>
                <key>frame</key>
                <string>{{730,486},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>new</key>
            <dict>
                <key>frame</key>
                <string>{{1006,294},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>number_big_0</key>
            <dict>
                <key>frame</key>
                <string>{{812,486},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>number_big_1</key>
            <dict>
                <key>frame</key>
                <string>{{962,398},{20,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>number_big_2</key>
            <dict>
                <key>frame</key>
                <string>{{754,530},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>number_big_3</key>
            <dict>
                <key>frame</key>
                <string>{{994,186},{24,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>number_big_4</key>
            <dict>
                <key>frame</key>
                <string>{{782,520},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>number_big_5</key>
            <dict>
                <key>frame</key>
                <string>{{936,424},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>number_big_6</key>
            <dict>
                <key>frame</key>
                <string>{{936,460},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>number_big_7</key>
            <dict>
                <key>frame</key>
                <string>{{994,222},{24,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>number_big_8</key>
            <dict>
                <key>frame</key>
                <string>{{964,418},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>number_big_9</key>
            <dict>
                <key>frame</key>
                <string>{{992,418},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>number_gold_0</key>
            <dict>
                <key>frame</key>
                <string>{{964,454},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>number_gold_1</key>
            <dict>
                <key>frame</key>
                <string>{{812,514},{20,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>number_gold_2</key>
            <dict>
                <key>frame</key>
                <string>{{992,454},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>number_gold_3</key>
            <dict>
                <key>frame</key>
                <string>{{994,258},{24,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>number_gold_4</key>
            <dict>
                <key>frame</key>
                <string>{{848,508},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>number_gold_5</key>
            <dict>
                <key>frame</key>
                <string>{{810,534},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>number_gold_6</key>
            <dict>
                <key>frame</key>
                <string>{{936,496},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>number_gold_7</key>
            <dict>
                <key>frame</key>
                <string>{{884,510},{24,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>number_gold_8</key>
            <dict>
                <key>frame</key>
                <string>{{964,490},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>number_gold_9</key>
            <dict>
                <key>frame</key>
                <string>{{992,490},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>number_gold_plus</key>
            <dict>
                <key>frame</key>
                <string>{{994,140},{26,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{26,26}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>number_normal_0</key>
            <dict>
                <key>frame</key>
                <string>{{940,408},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>number_normal_1</key>
            <dict>
                <key>frame</key>
                <string>{{782,556},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>number_normal_2</key>
            <dict>
                <key>frame</key>
                <string>{{920,510},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>number_normal_3</key>
            <dict>
                <key>frame</key>
                <string>{{1006,326},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>number_normal_4</key>
            <dict>
                <key>frame</key>
                <string>{{998,398},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>number_normal_5</key>
            <dict>
                <key>frame</key>
                <string>{{674,502},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>number_normal_6</key>
            <dict>
                <key>frame</key>
                <string>{{910,534},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>number_normal_7</key>
            <dict>
                <key>frame</key>
                <string>{{1006,348},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>number_normal_8</key>
            <dict>
                <key>frame</key>
                <string>{{926,532},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>number_normal_9</key>
            <dict>
                <key>frame</key>
                <string>{{942,532},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>number_small_0</key>
            <dict>
                <key>frame</key>
                <string>{{1006,370},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>number_small_1</key>
            <dict>
                <key>frame</key>
                <string>{{882,336},{8,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{8,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>number_small_2</key>
            <dict>
                <key>frame</key>
                <string>{{564,514},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>number_small_3</key>
            <dict>
                <key>frame</key>
                <string>{{994,294},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>number_small_4</key>
            <dict>
                <key>frame</key>
                <string>{{1006,384},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>number_small_5</key>
            <dict>
                <key>frame</key>
                <string>{{910,556},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>number_small_6</key>
            <dict>
                <key>frame</key>
                <string>{{924,556},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>number_small_7</key>
            <dict>
                <key>frame</key>
                <string>{{938,554},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>number_small_8</key>
            <dict>
                <key>frame</key>
                <string>{{950,554},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>number_small_9</key>
            <dict>
                <key>frame</key>
                <string>{{964,526},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>pipeDown_1</key>
            <dict>
                <key>frame</key>
                <string>{{244,514},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>pipeDown_2</key>
            <dict>
                <key>frame</key>
                <string>{{576,112},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>pipeUp_1</key>
            <dict>
                <key>frame</key>
                <string>{{628,112},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>pipeUp_2</key>
            <dict>
                <key>frame</key>
                <string>{{680,112},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>resultPanle</key>
            <dict>
                <key>frame</key>
                <string>{{732,112},{234,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,124}}</string>
                <key>sourceSize</key>
                <string>{234,124}</string>
            </dict>
            <key>text_gameover</key>
            <dict>
                <key>frame</key>
                <string>{{856,112},{224,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,40}}</string>
                <key>sourceSize</key>
                <string>{224,40}</string>
            </dict>
            <key>text_getready</key>
            <dict>
                <key>frame</key>
                <string>{{0,514},{244,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,54}}</string>
                <key>sourceSize</key>
                <string>{244,54}</string>
            </dict>
            <key>tip_help</key>
            <dict>
                <key>frame</key>
                <string>{{912,0},{114,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{114,108}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>title</key>
            <dict>
                <key>frame</key>
                <string>{{896,114},{264,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,66}}</string>
                <key>sourceSize</key>
                <string>{264,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_source.pvr.ccz</string>
            <key>size</key>
            <string>{1020,568}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:903c2ca4b9461a6ca6df26cb9045c76c:1/1$</string>
            <key>textureFileName</key>
            <string>game_source.pvr.ccz</string>
        </dict>
    </dict>
</plist>
